<form action='/search' method='POST'>
    <p>Search: <input type='text' name='item_search'/></p>
</form>
{% for i in inv %}
<table>
    <tr>
        <th>ID</th>
        <th>Item Name</th>
        <th>Quantity</th>
        <th>Item Description</th>
        <th>Location</th>
        <th>Location Description</th>
    </tr>
    {% for i in inv %}
    <tr>
        <td>{{i.id}}</td>
        <td>{{i.item_name}}</td>
        <td>{{i.quantity}}</td>
        <td>{{i.item_description}}</td>
        <td>{{i.location}}</td>
        <td>{{i.location_description}}</td>
        <td>
            <form action='/update2' method="POST">
                <button name="update" type="submit" value="{{i.id}}">Update</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endfor %}