<form action='/make_update' method = "POST">
	<p>ID <input type="integer" name="id" value="{{inv.id}}"/></p>
	<p>Item Name <input type="text" name="item_name" value="{{inv.item_name}}"/></p>
	<p>Quantity <input type="integer" name="quantity" value="{{inv.quantity}}"/></p>
	<p>Item Description <input type="text" name="item_desc" value="{{inv.item_description}}"/></p>
	<p>Location <input type="text" name="location" value="{{inv.location}}"/></p>
	<p>Location Description <input type="text" name="location_desc" value="{{inv.location_description}}"/></p>
	<p><input type="submit" value="Submit" /></p>
</form>
